:root {
  --bg: #ffffff;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --text: #ffffff;
  }
}
:root {
  --modal-bg: #ffffff;
  --modal-text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --modal-bg: #1c1c1e;
    --modal-text: #ffffff;
  }
}
